@tailwind base;
@tailwind components;
@tailwind utilities;

.BET_MODAL {
	background-image: url("./assets/bet_modal_bg.svg");
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: contain;
}
